<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2">
          <ion-button
            fill="clear"
            size="small"
            color="dark"
            (click)="redirectToHomePage()"
          >
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-title>universities</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let u of universities" class="uCard">
    <ion-card-header>
      <ion-card-title>{{u.name}}</ion-card-title>
      <ion-card-subtitle>{{u.country}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{u.alphaTwoCode}}</p>
      <p>{{u.stateProvince}}</p>
      <p>{{u.domains}}</p>
      <p>Site: <a class="colorUrl">{{u.webPages}}</a></p>
      
    </ion-card-content>
  </ion-card>
  

</ion-content>
