<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> University </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search universities</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input
      type="text"
      placeholder="name"
      (change)="this.setName($event.target.value)"
    ></ion-input>
    <ion-input
      type="text"
      placeholder="country"
      (change)="this.setCountry($event.target.value)"
    ></ion-input>
    <ion-button
      (click)="sendRequest()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Search
    </ion-button>
  </div>
</ion-content>
